:root{

    /*Pinewood green */
    --primary-base: #3A817D;
    --primary-dark: #1C635F;
    --primary-darkest: #084F4B;
    --primary-light:#6BB1AC;
    --primary-lightest: #DEF5EB;

    --secondary-base: #3A817D;
    --secondary-dark: #1C635F;
    --secondary-darkest: #084F4B;
    --secondary-light:#6BB1AC;
    --secondary-lightest: #DEF5EB;

    
    --negative-base: #FF6361;
    --negative-dark: #C64C4B;
    --negative-darkest: #8F3736;
    --negative-light: #FF9D9E;
    --negative-lightest: #F8D3D5 ;

    --attention-base: #F2D26E;
    --attention-dark: #D0B65E;
    --attention-darkest: #F9B922;
    --attention-light: #F9B922;
    --attention-lightest: #FEF8E1;

    --grey-base: #CBCED7;
    --grey-dark: #ACB1C1;
    --grey-darkest: #85919C;
    --grey-light: #E1E5EB;
    --grey-lightest: #F6F8FA;
    --white: #fff;

    --black-base: #3E4050;
    --black-dark: #32343F;
    --black-darkest: #2C3034;
    --black-light: #4A4D61;
    --black-lightest: #8D8F9B;

    --font-xs: normal 150% 12px;
    --font-sm: normal 150% 13px;
    --font-md: normal 150% 14px;
    --font-lg: normal 150% 16px;

    --label-width: 200px;
    --content-width: 300px;

    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;

    --menu-background-color: #1c273d;



    /* Turquoise 
    --primary-base: #4793BE;
    --primary-dark: #4084AB;
    --primary-darkest: #397698;
    --primary-light:#75AECE;
    --primary-lightest:  #A3C9DF;
    */

    /* Mint
    --primary-base: #87CAB0;
    --primary-dark: #6DA490;
    --primary-darkest: #558171;;
    --primary-light:#AFE4D6;;
    --primary-lightest:  #DAFEF7; */


     /* Rtn  
    --primary-base: #FBD348;
    --primary-dark: #EBB909;
    --primary-darkest: #D9AF18;;
    --primary-light:#FBF0C6;;
    --primary-lightest:  #FEF9E8;


    --button-text-color: var(--black-base)
    */
}

  body {
    background-color: #F6F8FA;
    overflow: hidden;
  }
  #preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 10000000;
  }
  #loader {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: var(--primary-base);
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
  }
  #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #BA55D3;
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite;
  }
  #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: var(--primary-dark);
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;
  }
  @-webkit-keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  @keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }