:root {
    --pl-base-size: 28px;
    --pl-border-radius: 4px;

    --pl-primary-base: #3A817D;
    --pl-primary-dark: #1C635F;
    --pl-primary-darkest: #244751;
    --pl-primary-light: #BBD8CB;
    --pl-primary-lightest: #EAF4EF;
    
    --pl-negative-base: #F54A4B;
    --pl-negative-dark: #C83739;
    --pl-negative-darkest: #7D2223;
    --pl-negative-light: #FEC3C4;
    --pl-negative-lightest: #FFECED;;

    --pl-grey-base: #CAD0D6;
    --pl-grey-dark: #A6B0B8;
    --pl-grey-darkest: #85919C;
    --pl-grey-light: #E9EDF0;
    --pl-grey-lightest: #F5F6F7;

    --pl-attention: #F2D26E;
    --pl-background-color: #fff;
    --pl-surface-color: #fff;

    --pl-header-color: rgba(94, 100, 113, 1);
    --pl-header-font: normal 500 12px/1.2 apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --pl-text-font: normal 400 13px/1.2 apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --pl-text-color: rgba(42, 49, 67, 1);

    --pl-label-width: 240px;
    --pl-content-width: 240px;

    --pl-space-xxs: 2px;
    --pl-space-xs: 4px;
    --pl-space-sm: 8px;
    --pl-space-md: 12px;
    --pl-space-lg: 16px;


    --pl-menu-background-color: rgba(43, 70, 84, 1);
}

body {
    background-color: var(--background-color);
    overflow: hidden;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10000000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--pl-primary-base);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--pl-primary-dark);
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
